/* Tirar o não há atividades cadastradas.. do itálico */
#main-docente .simple-panel p.vazio {
  font-style: inherit !important;
}
/*Corrigir cor do texto cinza */
/*Dados instucionais*/
#perfil-docente #agenda-docente h4{
   color: black !important;
}
/* tag td */
#perfil-docente #agenda-docente td{
   color: black !important;
}
/* Esconder forum inutil */
#forum-portal{
   display:none;
}
/* Esconder comunidade inutil */
#participantes{
   display:none;
}
/* Corrigir bug em ensino, pesquisa, ... ao passar o mouse enquanto carrega */
.ThemeOfficeMainItem{
    background-color: unset;
    color: white;
}
.ThemeOfficeMainItemHover{
    background-color: unset;
    color: white;
}
#portal-docente .mais{
    border-top: none !important;
}
/*Mudar padding de título últimas atualizações e componente curricular*/
#main-docente table th {
   padding: 6px 0 6px !important;
}
/*Melhorar margen de ver turmas anteriores*/
#main-docente .simple-panel table {
   margin-bottom: 0.5em;
}