/* width */
 ::-webkit-scrollbar {
   width: 10px;
   height: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #00000014;
}
/* Handle */
::-webkit-scrollbar-thumb {
   background: #00000026;
   border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #00000078;
}