     /* Remover fundo azul */
     body {
        background: white;
        /* Melhorar o redimiensionamento da página evitando textos quebrados */
        min-width: 800px;
      }
      /* Remover fundo azul */
      #baseLayout > #cabecalho,
      #baseLayout > .ui-layout-resizer {
        background: none;
      }
     /* remover borda azul */
     .ui-layout-pane {
       border: 1px solid #e0e0e0;
     }
     /* Botão troca de turma */
     button.ui-button{
       border: 1px solid #e0e0e0;
       background: white;
       color: inherit;
     }
     button.ui-button:hover{
       background-color: #f5f5f5;
     }
     /* Menu lateral */
     .rich-panelbar {
       background: #f5f5f5;
       border: 1px solid #e0e0e0;
     }
     .rich-stglpanel {
       border-color: #e0e0e0;
     }
     /* Menu lateral correção tamanho das letras */
     .rich-panelbar-header, .rich-panelbar-header-act {
       font-size: 1em;
       font-weight: inherit;
     }
     /* Remover borda infeior azul nos itens do menu*/
     div.itemMenuHeaderTurma{
        border-bottom: 1px solid #CCCCCC;
     }
     #toggleDireita , .itemMenuHeaderAlunos, .itemMenuHeaderMateriais, .itemMenuHeaderAtividades, .itemMenuHeaderRelatorios, .itemMenuHeaderAjuda{
        border-bottom: 1px solid #e0e0e0;
     }
     /* Ajeitar texto cortado no menu lateral*/
     .itemMenu{
        height: min-content;
        text-indent: inherit;
     }
     .itemMenu:hover{
      background-color:#f1f1f1;
     }
     /* correção do tamanho do texto no botão trocar de turma */
     .ui-widget{
       font-size: 14px;
     }
     /* Remover fundo com imagem e ajeitar borda do menu lateral, Andamento das Aulas, Notícias, Enquetes, ... */
     .headerBloco{
       background: white;
       border: none;
       border-bottom: 1px solid #e0e0e0;
     }
     /* esconder departamento do aluno */
     #painelDadosUsuario > div {
        display: none;
     }
     /* centralizar nome do aluno e ajeitar o padding */
     #painelDadosUsuario > p{
       padding-top: 3px;
       padding-right: 4px;
     }
     /*Adicionar borda arrendodada e melhorar margem da janela de atenção */
     #scroll-wrapper > #painel-erros {
       border-radius: 4px;
       margin-bottom: 0.5em;
       border-bottom: none !important;
     }
     /* Melhorar a posição do botão de remover a janela de atenção */
     #scroll-wrapper > #painel-erros > #fechar-painel-erros {
       right: 8px !important;
       bottom: 5px !important;
     }
     /* ajeitar tamanho e posição do texto da barra de cima portal público, ajuda?, sair */
     #info-sistema div.dir{
       top: 0px;
     }
     /* corrigir bug da margem do conteúdo */
     div #conteudo {
       width: auto !important;
     }
     /* melhoria do tamanho da letra no menu da direita */
     .rich-stglpanel-body {
       font-size: 14px;
     }
     .headerBloco{
       font-size: 14px;
     }
     #barraEsquerda > table > tbody > tr > td {
       font-size: 14px !important;
       /* Mudar a cor do texto de azul para preto */
       color: #212121 !important;
     }
     /* Melhoria tamanho da letra em dados do progrma */
     #relatorio-rodape table tr td {
       font-size: 1em;
     }
     /* mudanças no aviso cinza sobre a turma virtual */
     div.intro-aval div.textos {
       background: white !important;
       border-radius: 4px;
       border: 1px solid #e0e0e0;
     }
     /* Mudar borda azul (elemento visual) que aparece do lado de titulos */
     fieldset {
       border-top: 1px solid #e0e0e0;
     }
     /* Mudar tamanho e cor dos titulos azuis */
     fieldset legend {
       color: #212121;
       font-size: 1em;
       font-variant: inherit;
     }
     /* Mudar cor do texto vermelho */
     p.empty-listing {
       color: #212121;
       font-weight: inherit;
     }
     /* Trocar a cor do Turma Virtual! de azul para preto  */
     div.intro-aval h4 {
       color: #212121 !important;
     }
     /* Trocar a cor do Ampliando os horizontes... de azul para preto  */
     div.intro-aval h5 {
       color: #212121 !important;
     }
     /* Alterar a barra de progresso da carga horária da turma */
     .progress {
       background-image: none !important;
       background-color: #f5f5f5;
     }
     .progress-bar {
       background-color: #e2e2e2 !important;
       box-shadow: none !important;
       color: black !important;
     }
 
     /* Mudar as bordas de cada item na barra que diz portal público, Ajuda, Tempo de sessão.... */
     #info-sistema span{
       border-width: 0px !important;
     }
     #info-sistema a{
       border-width: 0 0 0 0 !important;
     }
     #info-sistema #sair-sistema{
       border-width: 0 0 0 0 !important;
     }
 
     /* Remover borda azul */
     #barraEsquerda table{
       border: none !important;
     }
     
     /* Ajustar fonte pequena notícia */
     .conteudoNoticia p{
       font-size: inherit !important;
     }
     
     /* Ajustar fonte pequena no título das datas */
     .topico-aula .titulo{
       font-size: inherit !important;
     }
 